  
<fieldset class="form-sub-group" >
                
    <legend class="legend">Surgery Details</legend>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-form-field>
                <input  type="text" placeholder="Tag Number"  matInput>                        
        </mat-form-field>
        <mat-form-field>
                <input  type="date" placeholder="Surgery Date"  matInput>                        
        </mat-form-field>
    </div>

</fieldset>