/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$colour-border:#a9abad;
$primary-font-colour: #626262;

.form-sub-group
{

  border: 2px solid;
  border-radius: 5px;
  border-color: $colour-border;
  padding-left:15px;
  padding-right:15px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.example-radio-button {
    margin: 5px;
}
